.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white ;
    height: 100px;
    margin: 10px;

}

.logo {
    width: 200px;
}

.searchIconContainer {
    margin: 5px;
}

.searchbar {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #1c1c1e;
    padding: 10px;
    border-radius: 50px;
}

.inputBar {
    background-color: transparent;
    border-style: none;
    width: 100%;
    outline: none;
    color: aliceblue;
    font-size: 16px;
}

.headerItems {
    display: flex;
    align-items: row;
}

.headerItems p {
    margin: 10px;
}

.headerActions{
    display: flex;
    align-items: center;
}

.headerActions div {
    margin: 10px;
}

.themeSwitchContainer {
    display: flex;
    background-color: #1c1c1e;
    padding: 15px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.loginButton {
    background: linear-gradient(to right, #59f6b7, #669bfe );
    padding: 15px 40px;
    border-radius: 50px;
    margin: 5px;
    color: black;
    font-weight: 500;
}

